.container.hero-content
  header
    button.contact-btn &Scy;&vcy;&yacy;&zcy;&acy;&tcy;&softcy;&scy;&yacy; &scy; &ncy;&acy;&mcy;&icy;
    a.header-tel(href='tel:+375297355432') +375 29 735 54 32


.hero
  a.cta-btn(href='#belarus-form') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;


.container
  // Features BEGIN
  .features
    ul.features-list
      li.features-list__item--1(data-aos='fade-up' data-aos-duration='300')
        img.features-shield(src='static/img/content/subs.png' alt='')
        .features-list__item
          h4.features__title 10 000+
          p.features__descr &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&icy;&rcy;&ocy;&scy;&tcy;&acy;
      li.features-list__item--2(data-aos='fade-up' data-aos-duration='600')
        img.features-shield(src='images/money.svg' alt='')
        .features-list__item
          h4.features__title $100 000+
          p.features__descr &Zcy;&acy;&kcy;&acy;&zcy;&chcy;&icy;&kcy;&icy; &zcy;&acy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&lcy;&icy; &scy; &rcy;&acy;&zcy;&mcy;&iecy;&shchcy;&iecy;&ncy;&ncy;&ocy;&jcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ycy;
      li.features-list__item--3(data-aos='fade-up' data-aos-duration='1000')
        img.features-shield(src='images/followers.svg' alt='')
        .features-list__item
          h4.features__title 3 000 000+
          p.features__descr &Lcy;&ocy;&yacy;&lcy;&softcy;&ncy;&ocy;&jcy;&acy;&ucy;&dcy;&icy;&tcy;&ocy;&rcy;&icy;&icy;
  // Features END
.container
  // Grounds BEGIN
  section.grounds
    h2(data-aos='fade-down' data-aos-duration='500') &Rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ncy;&ycy;&iecy; &pcy;&lcy;&ocy;&shchcy;&acy;&dcy;&kcy;&icy;
    h3(data-aos='fade-down' data-aos-duration='500') 1. &Ocy;&khcy; &ucy;&zhcy; &ecy;&tcy;&acy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
    // .belarus-wrap>img.belarus-hero+ul.community-container>(li.community-item.community-item--$>img.community-item__logo+h4.community-item__subs+button.community-item__more)*18
    .belarus-wrap
      img.belarus-hero(src='images/bel/belarus-hero.jpg' alt='')
      ul.community-container
        li.community-item.community-item--1.open-belarus(data-aos='zoom-in-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/belarus.png' alt='')
          h4.community-item__name &Ocy;&khcy; &ucy;&zhcy; &ecy;&tcy;&acy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more.open-belarus
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--2.open-moto(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/moto.png' alt='')
          h4.community-item__name &Mcy;&ocy;&tcy;&ocy; &Bcy;&acy;&rcy;&acy;&khcy;&ocy;&lcy;&kcy;&acy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more.open-moto
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--3.open-shop(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/baraholka.png' alt='')
          h4.community-item__name
            | &Bcy;&acy;&rcy;&acy;&khcy;&ocy;&lcy;&kcy;&acy; &Rcy;&Bcy;
            img(src='images/white-arrow.png' alt='arrow')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--4.open-work(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/work.png' alt='')
          h4.community-item__name &Rcy;&acy;&bcy;&ocy;&tcy;&acy; &Mcy;&icy;&ncy;&scy;&kcy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--5(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/flirt.png' alt='')
          h4.community-item__name &Zcy;&ncy;&acy;&kcy;&ocy;&mcy;&scy;&tcy;&vcy;&acy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--6(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/give.png' alt='')
          h4.community-item__name &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy; &zcy;&acy; &rcy;&iecy;&pcy;&ocy;&scy;&tcy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--7(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/home.png' alt='')
          h4.community-item__name &Scy;&ncy;&yacy;&tcy;&softcy;/&scy;&dcy;&acy;&tcy;&softcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &Mcy;&icy;&ncy;&scy;&kcy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--8(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/bel/flat.png' alt='')
          h4.community-item__name &Fcy;&lcy;&iecy;&tcy;&ycy;/&vcy;&pcy;&icy;&scy;&kcy;&icy; &Mcy;&icy;&ncy;&scy;&kcy;
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
      span#belarus-form
      form.belarus-form(action='' data-aos='flip-up')
        h4.form-title &Ocy;&scy;&tcy;&acy;&vcy;&softcy;&tcy;&iecy; &lcy;&yucy;&bcy;&ycy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy; &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &acy;&ncy;&acy;&lcy;&icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&iecy;&jcy;
        .berlarus-form--inputs
          input.input-name(type='name' placeholder='Имя')
          input.input-contact(type='text' placeholder='Телефон/@никнейм/почта')
          .belrus-form-buttons
            input.form-submit--btn(type='submit' value='Получить анализ')
            button.form-price--btn.open-prices-1(type='button') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &pcy;&rcy;&acy;&jcy;&scy;
  // Grounds END
// FAdeev BGN
.container
  // Grounds BEGIN
  section.grounds
    h3(data-aos='fade-down' data-aos-duration='500') 2. &Vcy;&lcy;&acy;&dcy;&icy;&scy;&lcy;&acy;&vcy; &Fcy;&acy;&dcy;&iecy;&iecy;&vcy;
    // .belarus-wrap>img.belarus-hero+ul.community-container>(li.community-item.community-item--$>img.community-item__logo+h4.community-item__subs+button.community-item__more)*18
    .belarus-wrap
      img.belarus-hero(src='images/vlad/hero.jpg' alt='')
      ul.community-container
        li.community-item.community-item--1(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-yt.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--2(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-tg.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--3(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-insta.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--4(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-vk.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
      span#vlad-form
      form.belarus-form(action='' data-aos='flip-up')
        h4.form-title &Ocy;&scy;&tcy;&acy;&vcy;&softcy;&tcy;&iecy; &lcy;&yucy;&bcy;&ycy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy; &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &acy;&ncy;&acy;&lcy;&icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&iecy;&jcy;
        .berlarus-form--inputs
          input.input-name(type='name' placeholder='Имя')
          input.input-contact(type='text' placeholder='Телефон/@никнейм/почта')
          .belrus-form-buttons
            input.form-submit--btn(type='submit' value='Получить анализ')
            button.form-price--btn(type='button') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &pcy;&rcy;&acy;&jcy;&scy;
  // Grounds END
// FADEEV END
// multitude BGN
.container
  // Grounds BEGIN
  section.grounds.grounds--multitude
    h3(data-aos='fade-down' data-aos-duration='500') 3. Multitude
    // .belarus-wrap>img.belarus-hero+ul.community-container>(li.community-item.community-item--$>img.community-item__logo+h4.community-item__subs+button.community-item__more)*18
    .belarus-wrap
      img.belarus-hero(src='images/multitude/hero.jpg' alt='')
      ul.community-container
        li.community-item.community-item--1(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-tg.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--2(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-insta.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
        li.community-item.community-item--3(data-aos='fade-up' data-aos-duration='600')
          img.community-item__logo(src='images/socials/icon-vk.svg' alt='')
          .community-subs
            p.community-item__subs 100k
            p &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&ocy;&vcy;
          button.community-item__more
            | &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            img(src='images/white-arrow.png' alt='arrow' .class='arrow')
            img(src='images/arrow.png' alt='red-arrow' .class='red-arrow')
      span#multitude-form
      form.belarus-form(action='' data-aos='flip-up')
        h4.form-title &Ocy;&scy;&tcy;&acy;&vcy;&softcy;&tcy;&iecy; &lcy;&yucy;&bcy;&ycy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy; &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &acy;&ncy;&acy;&lcy;&icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&iecy;&jcy;
        .berlarus-form--inputs
          input.input-name(type='name' placeholder='Имя')
          input.input-contact(type='text' placeholder='Телефон/@никнейм/почта')
          .belrus-form-buttons
            input.form-submit--btn(type='submit' value='Получить анализ')
            button.form-price--btn(type='button') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &pcy;&rcy;&acy;&jcy;&scy;
  // Grounds END
// multitude END
// popups about community BGN
.popup-blurer
  .container-pop
    .title-row
      h3.pop-title &Scy;&ncy;&yacy;&tcy;&softcy;/&scy;&dcy;&acy;&tcy;&softcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &Mcy;&icy;&ncy;&scy;&kcy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
      button.close- &times;
    .table
      .table-left
        img.group-logo(src='images/bel/belarus.png' alt='')
        p.table-head
          | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;
          br
          |  &Pcy;&ocy;&lcy;, &mcy;/&zhcy;
          br
          |  &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
      .table-right
        .groups-stats
          .vk
            img.vk-head(src='images/socials/icon-vk.png' alt='')
            p.community-stats.vk-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .insta
            img.insta-head(src='images/socials/icon-insta.png' alt='')
            p.community-stats.insta-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .tg
            img.tg-head(src='images/socials/icon-tg.png' alt='')
            p.community-stats.tg-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
        p.group-descr
          | &Vcy; &gcy;&rcy;&ucy;&pcy;&pcy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ucy;&yucy;&tcy;&scy;&yacy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ocy; &scy;&hardcy;&iecy;&mcy;&iecy;/&scy;&dcy;&acy;&chcy;&iecy; &zhcy;&icy;&lcy;&softcy;&yacy;.
          | &Pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; &ocy;&tcy; &rcy;&icy;&ecy;&lcy;&tcy;&ocy;&rcy;&ocy;&vcy; &icy;&lcy;&icy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy; &ncy;&iecy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ucy;&yucy;&tcy;&scy;&yacy;, &acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&ocy;&rcy; &scy;&lcy;&iecy;&dcy;&icy;&tcy; &zcy;&acy; &fcy;&lcy;&ucy;&dcy;&ocy;&mcy;/&ocy;&scy;&kcy;&ocy;&rcy;&bcy;&lcy;&iecy;&ncy;&icy;&yacy;&mcy;&icy;, &pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &acy;&dcy;&ucy;&icy;&tcy;&ocy;&rcy;&icy;&yacy; &zcy;&dcy;&iecy;&scy;&softcy; &lcy;&ocy;&yacy;&lcy;&softcy;&ncy;&acy;&yacy;.
    button.popup-get-ad &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;
.belarus-pop
  .container-pop(data-aos='zoom-in' data-aos-duration='3000')
    .title-row
      h3.pop-title &Ocy;&khcy; &ucy;&zhcy; &ecy;&tcy;&acy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
      button.close-pop.close-belarus &times;
    .table
      .table-left
        img.group-logo(src='images/bel/belarus.png' alt='')
        p.table-head
          | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;
          br
          |  &Pcy;&ocy;&lcy;, &mcy;/&zhcy;
          br
          |  &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
      .table-right
        .groups-stats
          a.vk(href='#')
            img.vk-head(src='images/socials/icon-vk.png' alt='')
            p.community-stats.vk-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          a.insta(href='#')
            img.insta-head(src='images/socials/icon-insta.png' alt='')
            p.community-stats.insta-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          a.tg(href='#')
            img.tg-head(src='images/socials/icon-tg.png' alt='')
            p.community-stats.tg-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
        p.group-descr
          | &Scy;&iecy;&tcy;&softcy; &gcy;&rcy;&ucy;&pcy;&pcy; &Vcy;&kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&iecy;, &ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&ncy;&ycy;&khcy; &ncy;&acy; &bcy;&iecy;&lcy;&ocy;&rcy;&ucy;&scy;&scy;&kcy;&ucy;&yucy; &acy;&ucy;&dcy;&icy;&tcy;&ocy;&rcy;&icy;&yucy; &scy; &rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ycy;&mcy;&icy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&acy;&mcy;&icy;: &mcy;&ocy;&tcy;&ocy;&tscy;&icy;&kcy;&lcy;&ycy;, &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;, &bcy;/&ucy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&acy;, &rcy;&acy;&bcy;&ocy;&tcy;&acy;, &zhcy;&icy;&lcy;&softcy;&iocy; &mldr;
    button.popup-get-ad &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;
.moto-pop
  .container-pop
    .title-row
      h3.pop-title &Mcy;&ocy;&tcy;&ocy; &bcy;&acy;&rcy;&acy;&khcy;&ocy;&lcy;&kcy;&acy;
      button.close-pop.close-moto &times;
    .table
      .table-left
        img.group-logo(src='images/bel/moto.png' alt='')
        p.table-head
          | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;
          br
          |  &Pcy;&ocy;&lcy;, &mcy;/&zhcy;
          br
          |  &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
      .table-right
        .groups-stats
          .vk
            img.vk-head(src='images/socials/icon-vk.png' alt='')
            p.community-stats.vk-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .insta
            img.insta-head(src='images/socials/icon-insta.png' alt='')
            p.community-stats.insta-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .tg
            img.tg-head(src='images/socials/icon-tg.png' alt='')
            p.community-stats.tg-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
        p.group-descr
          | &Pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&acy;/&pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&acy;/&ocy;&bcy;&mcy;&iecy;&ncy; &pcy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&ncy;&ycy;&khcy; &mcy;&ocy;&tcy;&ocy;&tscy;&icy;&kcy;&lcy;&ocy;&vcy; &vcy; &Vcy;&kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&iecy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&acy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; Moto BY. &Vcy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&acy;&khcy; &ecy;&tcy;&ocy;&jcy; &gcy;&rcy;&ucy;&pcy;&pcy;&ycy; &ncy;&acy;&khcy;&ocy;&dcy;&yacy;&tcy;&scy;&yacy; &kcy;&acy;&kcy; &pcy;&ocy;&tcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&ocy;&kcy;&ucy;&pcy;&acy;&tcy;&iecy;&lcy;&icy;, &tcy;&acy;&kcy; &icy; &pcy;&rcy;&ocy;&dcy;&acy;&vcy;&tscy;&ycy;.
    button.popup-get-ad &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;
.shop-pop
  .container-pop
    .title-row
      h3.pop-title &Bcy;&acy;&rcy;&acy;&khcy;&ocy;&lcy;&kcy;&acy; &Rcy;&Bcy;
      button.close-pop.close-shop &times;
    .table
      .table-left
        img.group-logo(src='images/bel/baraholka.png' alt='')
        p.table-head
          | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;
          br
          |  &Pcy;&ocy;&lcy;, &mcy;/&zhcy;
          br
          |  &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
      .table-right
        .groups-stats
          .vk
            img.vk-head(src='images/socials/icon-vk.png' alt='')
            p.community-stats.vk-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .insta
            img.insta-head(src='images/socials/icon-insta.png' alt='')
            p.community-stats.insta-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .tg
            img.tg-head(src='images/socials/icon-tg.png' alt='')
            p.community-stats.tg-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
        p.group-descr
          | &Zcy;&acy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ocy;&jcy; &icy;&lcy;&icy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&iecy; &bcy;/&ucy; &vcy;&iecy;&shchcy;&iecy;&jcy; &lcy;&yucy;&dcy;&icy; &ocy;&bcy;&rcy;&acy;&shchcy;&acy;&yucy;&tcy;&scy;&yacy; &scy;&yucy;&dcy;&acy;. &Vcy;&scy;&iocy;, &chcy;&tcy;&ocy; &icy;&mcy;&iecy;&iecy;&tcy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ucy;&yucy; &tscy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;, &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy;&jcy;&tcy;&icy; &vcy; &ecy;&tcy;&ocy;&jcy; &gcy;&rcy;&ucy;&pcy;&pcy;&iecy;: &ocy;&tcy; &kcy;&acy;&tcy;&ucy;&shcy;&kcy;&icy; &dcy;&lcy;&yacy; &rcy;&ycy;&bcy;&acy;&lcy;&kcy;&icy; &dcy;&ocy; &scy;&tcy;&acy;&rcy;&ocy;&gcy;&ocy; &dcy;&ocy;&mcy;&icy;&kcy;&acy; &vcy; &dcy;&iecy;&rcy;&iecy;&vcy;&ncy;&iecy;
    button.popup-get-ad &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;
.work-pop.allpop
  .container-pop
    .title-row
      h3.pop-title &Rcy;&acy;&bcy;&ocy;&tcy;&acy; &Mcy;&icy;&ncy;&scy;&kcy;
      button.close-pop.close-work &times;
    .table
      .table-left
        img.group-logo(src='images/bel/work.png' alt='')
        p.table-head
          | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;
          br
          |  &Pcy;&ocy;&lcy;, &mcy;/&zhcy;
          br
          |  &Vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;
      .table-right
        .groups-stats
          .vk
            img.vk-head(src='images/socials/icon-vk.png' alt='')
            p.community-stats.vk-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .insta
            img.insta-head(src='images/socials/icon-insta.png' alt='')
            p.community-stats.insta-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
          .tg
            img.tg-head(src='images/socials/icon-tg.png' alt='')
            p.community-stats.tg-stats
              | 100k
              br
              | 70/30
              br
              | 20-40
        p.group-descr
          | &Pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&yacy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&jcy; &ocy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy;/&pcy;&ocy;&dcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy;&khcy; &vcy; &Mcy;&icy;&ncy;&scy;&kcy;&iecy; &chcy;&iecy;&rcy;&iecy;&zcy; &acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&ocy;&rcy;&acy;. &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &zcy;&dcy;&iecy;&scy;&softcy; &ncy;&iecy;&tcy; &scy;&pcy;&acy;&mcy;&acy;, &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ocy;&tcy;&ocy;&bcy;&rcy;&acy;&ncy;&ncy;&ycy;&iecy; &vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy; &icy; &zhcy;&dcy;&ucy;&shchcy;&icy;&iecy; &scy;&vcy;&ocy;&iecy;&jcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&chcy;&icy;&kcy;&icy;.
    a.popup-get-ad.pop-to-form(href='#belarus-form') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy;
// popups about community END
// PRICES BEGIN
.prices-1
  .container-pop
    .pop-title
      h3.pop-title &Pcy;&rcy;&acy;&jcy;&scy;&ycy; &ncy;&acy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy; &vcy; &Ocy;&khcy; &ucy;&zhcy; &ecy;&tcy;&acy; &Bcy;&iecy;&lcy;&acy;&rcy;&ucy;&scy;&softcy;
      button.close-pop.close-prices-1 &times;
    .prices-table-slider
      .prices-table
        .prices-column-1
          h4.prices-column__title &Tcy;&acy;&rcy;&icy;&fcy;
          ul.prices-column-list
            li.prices-column-item.price-bold 175 &Rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 2
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 3
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 4
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 5
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 6
        .prices-column-2
          h4.prices-column__title &Tcy;&acy;&rcy;&icy;&fcy;
          ul.prices-column-list
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 1
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 2
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 3
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 4
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 5
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 6
        .prices-column-3
          h4.prices-column__title &Tcy;&acy;&rcy;&icy;&fcy;
          ul.prices-column-list
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 1
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 2
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 3
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 4
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 5
            li.prices-column-item &Fcy;&icy;&chcy;&acy; 6
    form.prices-form(action='')
      h4.prices-form__title
        | &Zcy;&acy;&kcy;&acy;&zhcy;&icy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ucy; &scy;&iecy;&jcy;&chcy;&acy;&scy;, &ocy;&scy;&tcy;&acy;&vcy;&icy;&vcy; &lcy;&yucy;&bcy;&ocy;&jcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&jcy; &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy; &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &acy;&ncy;&acy;&lcy;&icy;&zcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&iecy;&jcy;
      .prices-form-fields
        .prices-form-inputs
          input.prices-inputs-1(type='text' placeholder='Имя')
          input(type='text' placeholder='Телефон/@никнейм')
        input.popup-get-ad(type='submit' value='Заказать рекламу')
// PRICES END
// FooterBGN
.container
  footer
    a.branding(href='#')
      | &Kcy;&acy;&kcy; &pcy;&ocy;&vcy;&ycy;&scy;&icy;&tcy;&softcy; &chcy;&icy;&scy;&lcy;&ocy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &scy; &pcy;&ocy;&mcy;&ocy;&shchcy;&softcy;&yucy; &bcy;&rcy;&iecy;&ncy;&dcy;&icy;&ncy;&gcy;&acy;?
    .footer-info
      a(href='#') Fadeev Group
      button mail@mail.com
      a(href='tel:+375297355432') +375 29 735 54 32
      a(href='#') &Ucy;&Ncy;&Pcy; 12345657
    a.world(href='#')
      | &Kcy;&acy;&kcy; &vcy;&ycy;&vcy;&iecy;&scy;&tcy;&icy; &vcy;&acy;&shcy; &tcy;&ocy;&vcy;&acy;&rcy; &icy;&lcy;&icy; &ucy;&scy;&lcy;&ucy;&gcy;&ucy; &ncy;&acy; &mcy;&icy;&rcy;&ocy;&vcy;&ocy;&jcy;
      br
      |  &rcy;&ycy;&ncy;&ocy;&kcy;?
// FooterEND