// ЦВЕТА

clr-prim = #ED2828
clr-prim--drk = #cc3d4c


	clr-vk = #45668E
	clr-vk--drk = #2E4E75
	clr-inst = #e01b65
	clr-inst-drk = #C4275D
	clr-tg = #0088CC
	clr-tg-drk = #0077B2

	clr-title = #232323
	clr-txt = rgba(0,0,0, 0.8)
	clr-txt--over = #fff

	clr-srfc = #ffffff
	clr-srfc--drk = #F5F5F5

	sz-regular--dsktp = 18px
	sz-title-dsktp = 50px
	sz-ad-title--dsktp = 36px
	sz1 = 26px
	sz2 = 62px
	sz2x = 124px
	sz22 = 68px
// РАЗМЕРЫ

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px


f-regular = 16px
f-microtitle = 28px
f-minititle = 36px
f-title = 70px


desktop = 1260px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 340px
phoneLand = 480px


// ШРИФТЫ

mainFont = Montserrat
